ENV=staging
API_BASE_URL=https://YOUR_API_ID.execute-api.ap-south-1.amazonaws.com
CDN_BASE_URL=https://YOUR_CLOUDFRONT_DOMAIN.cloudfront.net
COGNITO_USER_POOL_ID=ap-south-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
