ENV=production
API_BASE_URL=https://YOUR_PROD_API.execute-api.ap-south-1.amazonaws.com
CDN_BASE_URL=https://YOUR_PROD_CDN.cloudfront.net
COGNITO_USER_POOL_ID=ap-south-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
