# Flutter
mobile/.dart_tool/
mobile/build/
mobile/android/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
.pub-cache/

# Node
node_modules/
dist/

# Env & secrets
.env
.env.*
*.pem
*.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
